<h2>Click Here To List A Puppy</h2>

<form action="/new" method="POST">
  <h2>Puppy Name: <input type="text" name= "name"></h2>
  <h2>Puppy Breed: <input type="text" name= "breed"></h2>
  <h2>Puppy Age: <input type="text" name= "age"></h2>
  <input type="submit" id= "submit">
</form>